<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCB">
        <activity android:name=".diskActivity"></activity>
        <activity android:name=".ramActivity" />
        <activity android:name=".towerActivity" />
        <activity android:name=".fanActivity" />
        <activity android:name=".moboActivity" />
        <activity android:name=".psuActivity" />
        <activity android:name=".gpuActivity" />
        <activity
            android:name=".cpuActivity"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".CPU_Activity"
            android:label="@string/title_activity_c_p_u_"
            android:theme="@style/Theme.PCB.NoActionBar" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>