<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCB">
        <activity android:name=".diskActivity"
            android:parentActivityName=".SecondActivity" />
        <activity android:name=".ramActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".towerActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".fanActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".moboActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".psuActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity android:name=".gpuActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity
            android:name=".cpuActivity"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>